

#title {
	text-align: center;
}
body {
	background-color: #D5F3FE;
}

.row {
  display: flex;

}

.column {
	flex: 50%;
	
}

/* Style the tab */
.tab {
	align-items: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #66D3FA;
  display: inline-block;
  -webkit-box-pack:center;
  
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #2565AE;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #D5F3FE;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #3C99DC;

}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #3C99DC;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  color: #0F5298;
  background-color: #F5FBFE;
  vertical-align: center;
  justify-content: center;
}
